{% extends 'base.html' %}

{% block title %}
归档
{% endblock %}

{% block content %}
    <div class="container col-md-6" id="prime">
        <div class="content article">
            <div class="post-block archive post">
                <div id="posts" class="posts-collapse">
                    <h1 class="post-collapse-title" itemprop="name headline">归档</h1>
                    <div class="category-all-page">
                        <div class="category-all-title">分类</div>
                        <div class="category-all">
                            <ul class="category-list">
                                {% for category in all_category %}
                                <li class="category-list-item">
                                    <a class="category-list-link" href="">{{category.name}}</a>
                                    <span class="category-list-count">({{category.number}})</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="collection-year">
                        {% regroup all_blog.object_list by created_time.year as dates_by_year %}

                        {% for year in dates_by_year %}
                        <div class="collection-title">
                            <h1 class="archive-year" id="archive-year-2020">{{ year.grouper }}</h1>
                        </div>
                        {% for blog in year.list %}
                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article">
                            <header class="post-header">
                                <h2 class="post-title">
                                    <a class="post-title-link scaleup" href="/my-last-fight-against-this-world/" itemprop="url">
                                        <span itemprop="name">{{ blog.title }}</span>
                                    </a>
                                </h2>
                                <div class="post-meta">
                                    <time class="post-time" itemprop="dateCreated" datetime="" content=""> {{ blog.created_time|date:"m-d" }}</time>
                                </div>
                            </header>
                        </article>
                        {% endfor %}
                        {% endfor %}

                    </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock%}